<!-- include header -->
<%- include('./include/_header') %>
<!-- /include header -->

  <!-- Main -->
  <main id="site-main">
    <div class="button-box">
      <a href="/contacts/add" class="btn btn-light"><i class="fa-solid fa-user-plus"></i>연락처 추가</a>
    </div>
  
    <table class="table">
      <thead>
        <tr>
          <th>이름</th>
          <th>메일 주소</th>
          <th>전화번호</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <!-- contacts 배열의 각 요소 contact 모두에 대해 반복 -->
        <% contacts.forEach(contact => { %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><%= contact.phone %></td>
            <td>
              <!-- 몽고DB에서 자동으로 만든 id 속성은 앞에 밑줄이 붙기 때문에 contact.id가 아닌 contact._id 로 작성해야 함 -->
              <a href="/contacts/<%= contact._id %>" class="btn update" title="수정">
                <i class="fas fa-pencil-alt"></i>
              </a>
              <!-- DELETE 요청 메서드를 사용하기 위해서 <a> 태그 대신 <form> 태그를 사용해서 method-override -->
              <form action="/contacts/<%= contact._id %>?_method=DELETE" method="POST" style="display:inline">
                <input type="submit" class="btn delete" title="삭제" value="X">
              </form>
              </a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </main>
  <!-- /Main -->
  
<!-- include footer -->
<%- include('./include/_footer') %>
<!-- /include footer -->